.skills_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.skills_header {
	display: flex;
	align-items: center;
	margin-bottom: 2.5rem;
	cursor: pointer;
}

.skills_icon, .skills_arrow {
	font-size: 2rem;
}

.skills_icon {
	margin-right: .75rem
}

.skills_title {

}

.skills_subtitle {

}

.skills_arrow {
	margin-left: auto;
	transition: var(--transition);
}

.skills_list {
	row-gap: 1.5rem;
	padding-left: 2.7rem;
}

.skills_titles {
	display: flex;
	justify-content: space-between;
	margin-bottom: .5rem;
}

.skills_name {

}

.skills_bar, .skills_percentage {
	height: 5px;
	border-radius: .25rem;
}

.skills_bar {
	background-color: var(--color-white); 
}

.skills_percentage {
	display: block;
	background-color: var(--color-primary);
}

.skills_html {
	width: 90%;
}

.skills_css {
	width: 80%;
}

.skills_js {
	width: 60%;
}

.skills_react {
	width: 85%;
}

.skills_figma {
	width: 90%;
}

.skills_sketch {
	width: 85%;
}

.skills_photoshop {
	width: 90%;
}

.skills_close .skills_list {
	height: 0;
	overflow: hidden;
}

.skills_open .skills_list {
	height: max-content;
	margin-bottom: 2.5rem;
}

.skills_open .skills_arrow {
	transform: rotate(-180deg);
}